[submodule "HoneyPie/vendor/spdlog"]
	path = HoneyPie/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HoneyPie/vendor/GLFW"]
	path = HoneyPie/vendor/GLFW
	url = https://github.com/NikitaHardanger/glfw
[submodule "HoneyPie/vendor/imgui"]
	path = HoneyPie/vendor/imgui
	url = https://github.com/NikitaHardanger/imgui
